{% extends "layout.html" %}

{% block content %}
<h1>Luo tehtävä</h1>
<form action="/courses/course{{ course_id }}/chapters/chapter{{ chapter_id }}/exercises/new" method="POST">
    <p>
        <label>Tehtävän järjestysluku</label>
        <input type="number" min="1" name="ordinal" value="{{ form["ordinal"] }}" style="width: 4em"> <br>
        <label>Tehtävän nimi</label>
        <input type="text" name="name" required="required" value="{{ form["name"] }}"> <br>
        <label>Kysymys</label> <br>
        <textarea name="question" rows="10" cols="80" required="required">{{ form["question"] }}</textarea>
    </p>
    <label>Vastausvaihtoehjoten määrä</label> 
    <input type="number" min="1" max="20" value="{{ choices }}" name="choices">
    <input type="submit" value="Päivitä vaihtoehtojen määrä" name="button" id="secondary_button"><br>
    <small>Huomaa, että vaihtoehtojen määrää ei voi tällä hetkellä muuttaa jälkikäteen.</small><br>
    <table>
        <tr>
            <td></td>
            <td>Vastausvaihtoehto</td>
            <td>Oikea vastaus</td>
        </tr>
        {% for choice in range(1,choices+1) %}
        {% set choicekey = "choice" + choice|string %}
        {% set correctkey = "correct" + choice|string %}
        <tr>
            <td>{{ choice }}</td>
            <td><input type="text" name="choice{{ choice }}" value="{{ form[choicekey] }}" {% if choice == 1 %} placeholder="Täytä ainakin tämä." required="required" {% endif %}></td>
            <td><input type="checkbox" name="correct{{ choice }}" {% if correctkey in form %}checked{% endif %}></td>
        </tr>
        {% endfor %}
    </table>
    <p>
        <input type="hidden" name="course_id" value="{{ course_id }}">
        <input type="hidden" name="chapter_id" value="{{ chapter_id }}">
        <input type="submit" value="Luo tehtävä" name="button">
    </p>
</form>

<p>
    Voit palata <a href="/courses/course{{ course_id }}/chapters/chapter{{ chapter_id }}">takaisin luvun sivulle</a>, jolloin tehtävä jää luomatta.
</p>
{% endblock %}