.header {
    align-items: center;
    align-content: center;
    text-align: center;
    margin-bottom: 1em;
    color:darkslateblue;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: lavender;
}

h1, h2, h3 {
    color: darkmagenta;
    margin-top: 0em;
    padding-top: 0.5em;
}

body {
    margin: 0 auto;
    max-width: 30em;
    color: #555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    background-color: lavender;
    overflow: hidden;

}

.content {
    padding: 1.2em 1.2em;
    margin-bottom: 0.6em;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0px 0px 5px 5px;
    overflow-y:auto;
    max-height: 50vh;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 5px;
}
   
  ::-webkit-scrollbar-thumb {
    background:#dfcce4; 
    border-radius: 5px;
}
  
  ::-webkit-scrollbar-thumb:hover {
    background:#dfcce4; 
}

.center {
    align-content: center;
    align-items: center;
    margin: 0 auto;

}

nav li {
    display: inline-block;
    padding: 0.5em .6em;
}

nav ul {
    margin:0;
    padding:0 0.6em;
    background-color: #dfcce4;
    /*box-shadow: 0 6px 6px -4px darkslateblue;*/
    border-radius: 5px 5px 0 0;
    display: flex;
    position: relative;
    z-index: 100;
    border-color:rgba(19, 7, 48, 0.1);
    border-width: 1px;
    border-style: hidden hidden solid hidden;
}

.second_nav {
    background-color: #e6def1;
    position: relative;
    z-index: 101;
    color:rgb(48, 47, 79);
    font-size: smaller;
    border-radius: 0;
    /*border-color: rgba(189, 133, 235, 1);*/
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: red;
}

.active {
    font-weight: bold;
}

.rotate {
    transform:rotate(180deg);
}

input[type=submit] {
    background-color: rgb(107, 56, 167);
    color:white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 5px;
    box-shadow: 0 4px 6px -4px darkslateblue;
}

input[disabled] {
    background-color: rgb(193, 184, 202);
    color:white;
    border: none;
    cursor: default;
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 5px;
    box-shadow: 0 0 0 0;
}


