<!DOCTYPE html>

<html lang="fi">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Opetussovellus Huhuu. {% block title %}{% endblock %}</title>
    </head>
    <div class="sticky">
        <div class="header">
            <img src="/static/logo.svg" alt="logo" height="50"><br>
            Opetussovellus <b>Huhuu.</b>
        </div>
        <nav class="panel">
            {% if session["user_id"] %}
            <ul>
                <li><a href="/" {% if request.path == "/" %} class="active" {% endif %}>Etusivu</a></li>
                <li><a href="/courses" {% if "courses" in request.path %} class="active" {% endif %}>Kurssit</a></li>
                <li><a href="/logout" >Kirjaudu ulos</a></li>
            </ul>
                {% if "courses" in request.path %}
                <ul class="second_nav">
                    <li><a href="/courses" {% if request.path == "/courses" %} class="active" {% endif %}>Ilmoittautumiset</a></li>
                    <li><a href="/courses/search" {% if "/courses/search" in request.path %} class="active" {% endif %}>Kurssihaku</a></li>
                    <li><a href="/courses/new" {% if "/courses/new" in request.path %} class="active" {% endif %}>Luo uusi kurssi</a></li>
                </ul>
                {% endif %}
            {% else %}
            <ul>
                <li><a href="/"{% if request.path == "/" %} class="active" {% endif %}>Etusivu</a></li>
                <li><a href="/login"{% if request.path == "/login" %} class="active" {% endif %}>Kirjautuminen</a></li>
                <li><a href="/register"{% if request.path == "/register" %} class="active" {% endif %}>Luo käyttäjätunnus</a></li>
            </ul>
            {% endif %}
        </nav>
    </div>
    
    <div class="content">
    {% block content %}{% endblock %}
    </div>
    <div class="header rotate" style="padding-top:0;">
        <br>
        <img src="/static/logo.svg" alt="logo" height="50">
    </div>
</html>