{% extends "layout.html" %}

{% block content %}
{% set enrolled = {'flag': False} %}
<h1>{{ course[0] }}</h1>

<ul>
    <li>
        Opettaja: {{ course[2] }}
    </li>
    <li>
        {{ course[1] }}
    </li>
</ul>

<h2>Luvut</h2>
<ul>
{% for chapter in chapters %}
    <li>
        {{ chapter[1] }}) <a href="/courses/course{{ course[3] }}/chapters/chapter{{ chapter[0] }}">{{ chapter[2] }}</a>
    </li>
{% endfor %}
</ul>
<a href="/courses/course{{ course[3] }}/chapters/new">Luo uusi luku</a>

<p>
    <h2>Osallistujat</h2>
    <ul>
        {% for participant in participants %}
        <li>
            {{ participant[0] }}
            {% if participant[0] == course[2] %} 
            <small>(kurssin opettaja)</small> 
            {% endif %}
            {% if session["user_id"]|int() == participant[1]|int() %} 
                {% if enrolled.update({'flag':True}) %}
                {% endif %}
            <small>(sinä)</small> 
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</p>

<form action="/courses/enroll/course{{ course[3] }}" method="POST">
    <input type="submit" {% if enrolled.flag %}value="Olet liittynyt kurssille" disabled="disabled"{% else %} value="Liity kurssille"{% endif %}>
</form>

{% if enrolled.flag %}
    <h2>Tuloksien yhteenveto</h2>
    <table>
        <tr>
            <th>Luku</th>
            <th>Tehtävä</th>
            <th>Oikeita vastauksia</th>
            <th>Vääriä vastauksia</th>
            <th>Vastauksia yhteensä</th>
        </tr>
        {% for result in exercise_results %}
        <tr>
            <td>{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
            <td>{{ result[3] }}</td>
            <td>{{ result[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    
{% endif %}

{% endblock %}
