{% extends "layout.html" %}

{% block title %}Kurssi{% endblock %}

{% block content %}
<h1>{{ course[0] }}</h1>

<ul>
    <li>
        Vastuuopettaja: {{ course[2] }} {% if session["username"] == course[2] %} (sinä) {% endif %}
    </li>
    <li>
        {{ course[1] }}
    </li>
</ul>

<h2>Luvut</h2>
<ul>
{% for chapter in chapters %}
    <li>
        {{ chapter[1] }}) 
        {% if session["role"] == "student" and not enrolled %}
        {{ chapter[2] }}
        {% else %}
        <a href="/courses/course{{ course[3] }}/chapters/chapter{{ chapter[0] }}">{{ chapter[2] }}</a>
        {% endif %}
    </li>
{% endfor %}
</ul>

{% if session["role"] == "student" and not enrolled %}
<p>
    <img src="/static/logo.svg" alt="logo" height="20px"> 
    <small>Pöllömpi vinkki:</small> <br>
    Liity kurssille, mikäli haluat tarkkastella sen sisältöä. 
</p>
{% endif %}

{% if (session["role"] == "teacher" and enrolled) or session["role"] == "admin" %}
<a href="/courses/course{{ course[3] }}/chapters/new">Luo uusi luku</a>
{% endif %}

{% if session["role"] == "teacher" and not enrolled %}
<img src="/static/logo.svg" alt="logo" height="20px"> <small>Pöllömpi vinkki:</small> <br>
Liity kurssille, mikäli haluat muokata sen sisältöä. 
{% endif %}
<p>
    <h2>Osallistujat</h2>
    <ul>
        {% for participant in participants %}
        <li>
            {{ participant[0] }}
            {% if participant[0] == course[2] %} 
            <small>(kurssin vastuuopettaja)</small>
            {% elif participant[2] == "teacher" %}
            <small>(opettaja)</small> 
            {% elif participant[2] == "admin" %}
            <small>(ylläpitäjä)</small>
            {% endif %}
            {% if session["user_id"]|int() == participant[1]|int() %} 
            <small>(sinä)</small> 
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</p>

<form action="/courses/enroll/course{{ course[3] }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session["csrf_token"] }}">
    <input type="submit"
        {% if enrolled %}value="Olet liittynyt kurssille" disabled="disabled"
        {% else %}value="Liity kurssille"{% endif %}>
</form>

{% if (session["role"] == "teacher" and enrolled) or session["role"] == "admin" %}
    <h2>Tuloksien yhteenveto</h2>
    <table>
        <tr>
            <th align="left">Luku </th>
            <th align="left">Tehtävä </th>
            <th align="left">Oikeita<br>vastauksia </th>
            <th align="left">Vääriä<br>vastauksia </th>
            <th align="left">Vastauksia<br>yhteensä</th>
        </tr>
        {% for result in exercise_results %}
        <tr>
            <td>{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
            <td>{{ result[3] }}</td>
            <td>{{ result[4] }}</td>
        </tr>
        {% endfor %}
    </table>

{% endif %}

{% endblock %}
